<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">

    <a class="navbar-brand brand-center"
       (mouseenter)="isHovered = true"
       (mouseleave)="isHovered = false">
      <img
        [src]="isHovered ? 'public/logoOrange.png' : 'public/logoWhite.png'"
        alt="MyLibrary logo"
      />
      <span class="brand-text" [class.hovered]="isHovered">
      MyLibrary
      </span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-label="Toggle navigation">

      <span *ngIf="!navbarOpened" class = "hamburger-menu">☰</span>
      <span *ngIf="navbarOpened" class = "hamburger-menu">✕</span>
    </button>

    <div
      class="navbar-collapse justify-content-end"
      [class.collapse]="!navbarOpened"
      [class.show]="navbarOpened">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
        <li class="nav-item ms-lg-3">
          <a class="signin-btn">
            <fa-icon [icon]="faRightToBracket"></fa-icon>
            <span> Sign In</span>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>

