<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">

    <a class="navbar-brand brand-center"
       (mouseenter)="isHovered = true"
       (mouseleave)="isHovered = false">
      <img
        [src]="isHovered ? 'public/logoOrange.png' : 'public/logoWhite.png'"
        alt="MyLibrary logo"
      />
      <span class="brand-text" [class.hovered]="isHovered">
      MyLibrary
      </span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-label="Toggle navigation">

      <span *ngIf="!navbarOpened" class = "hamburger-menu">☰</span>
      <span *ngIf="navbarOpened" class = "hamburger-menu">✕</span>
    </button>

    <div
      class="navbar-collapse justify-content-end"
      [class.collapse]="!navbarOpened"
      [class.show]="navbarOpened">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li
          *ngIf="user"
          class="profile"
          (click)="toggleProfileMenu($event)">

          <img
            *ngIf="user.user_image_url"
            [src]="API_URL + user.user_image_url"
            class="avatar"
            alt="avatar"/>

          <div
            class="profile-menu"
            *ngIf="profileMenu"
            (click)="$event.stopPropagation()">
            <div class="info">
              <div class="avatar-wrapper">
                <img
                  class="avatar"
                  [src]="API_URL + user.user_image_url"
                  alt="avatar"
                />
              </div>

              <div class="right">
                <p>{{ user.name }}</p>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
              </div>
            </div>

            <div class="options">
              <div class="option">
                <a class="nav-link" routerLink="/profile">
                  <i class="fa-solid fa-user"></i>
                  <span>Profile</span>
                </a>
              </div>

              <div class="option">
                <a routerLink="/admin" class="nav-link">
                  <i class="fa-solid fa-user-shield"></i>
                  <span>AdminService</span>
                </a>
              </div>

              <div class="option" (click)="logout()">
                <div class="nav-link">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span>Sign Out</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item ms-lg-3" *ngIf="!user">
          <a class="signin-btn" [routerLink]="['/login']">
            <fa-icon [icon]="faRightToBracket"></fa-icon>
            <span> Sign In</span>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>

