<div class="container mt-4">
  <div class="books-header">

    <div class="left-section">
      <h2 class="mb-0">Library</h2>

      <button
        *ngIf="isAdmin"
        class="btn btn-success btn-sm add-btn"
        (click)="openAddBook()">
        Add Book
      </button>

      <button
        *ngIf="isAdmin"
        class="btn btn-success btn-sm add-btn"
        (click)="openAddGenre()">
        Add Genre
      </button>
    </div>

    <div class="right-section d-flex align-items-center gap-2">

      <select
        class="form-select"
        [(ngModel)]="selectedGenreId"
        (change)="onGenreChange()">

        <option value="">All genres</option>
        <option *ngFor="let g of genres" [value]="g.id">
          {{ g.name }}
        </option>
      </select>

      <button
        *ngIf="isAdmin && selectedGenreId"
        class="btn btn-outline-danger btn-sm"
        style="min-width: 38px"
        (click)="deleteGenre(selectedGenreId)">
        🗑
      </button>


      <small class="text-muted">
        Genres: {{ genres.length }}
      </small>

    </div>


  </div>


  <div class="card mb-3" *ngFor="let b of books" style="max-width: 540px;" >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="b.image_url ? (API_URL + b.image_url) : 'public/bookPlaceholder.png'"
          class="img-fluid rounded-start"
          style="height: 250px; object-fit: cover;"
          alt="Book cover"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ b.title }}</h5>
          <p class="card-text">{{ b.author }}</p>
          <p class="card-text">{{ b.genre_name }}</p>
          <p class="card-text">Available:
            <span class="fw-semibold"
              [class.text-success]="b.available_copies > 0"
              [class.text-danger]="b.available_copies === 0">
              {{ b.available_copies }}
            </span>
          </p>
          <button class="btn btn-primary btn-sm"
            [disabled]="b.available_copies === 0">Borrow
          </button>

          <a class="btn btn-outline-secondary btn-sm"
            [routerLink]="['/books', b.id]">
            Details
          </a>

          <button *ngIf="isAdmin" class="btn btn-danger btn-sm"
                  (click)="deleteBook(b.id)">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-book
  *ngIf="showAddBookModal"
  [genres]="genres"
  (created)="onBookCreated()"
  (close)="closeAddBook()">
</app-add-book>

<app-add-genre
  *ngIf="showAddGenreModal"
  (created)="onGenreCreated()"
  (close)="closeAddGenre()">
</app-add-genre>
