<div class="modal-backdrop-custom">
  <div class="modal-box">

    <h5 class="mb-3">Edit Book</h5>

    <input class="form-control mb-2"
           placeholder="Title"
           [(ngModel)]="book.title">

    <input class="form-control mb-2"
           placeholder="Author"
           [(ngModel)]="book.author">

    <textarea class="form-control mb-2"
              placeholder="Description"
              [(ngModel)]="book.description">
    </textarea>

    <input type="number"
           class="form-control mb-3"
           [(ngModel)]="book.total_copies">

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-secondary"
              (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-warning"
              (click)="save()">
        Save
      </button>
    </div>

  </div>
</div>

