<div class="modal-header border-0">
  <h5 class="modal-title">
    {{ data.title }}
  </h5>
</div>

<div class="modal-body">
  <p class="mb-0">{{ data.message }}</p>
</div>

<div class="modal-footer border-0">

  <button
    *ngIf="data.type === 'confirm'"
    class="btn btn-outline-secondary"
    (click)="close(false)">
    Cancel
  </button>

  <button
    class="btn"
    [ngClass]="{
      'btn-primary': data.type === 'confirm',
      'btn-success': data.type === 'success',
      'btn-danger': data.type === 'error'
    }"
    (click)="close(true)">
    OK
  </button>

</div>
