<div class="modal-backdrop-custom">
  <div class="modal-box">

    <h5 class="mb-3">Add New Book</h5>

    <div class="mb-3">
      <label class="form-label">Book cover</label>

      <input
        type="file"
        class="form-control"
        accept="image/*"
        (change)="onFileSelected($event)"
      />

      <div *ngIf="imagePreview" class="preview-wrapper mt-3">
        <div class="preview-container">
          <img
            [src]="imagePreview"
            alt="preview"
            class="preview-image"
          />
        </div>
      </div>

    </div>


    <input class="form-control mb-2"
           placeholder="Title"
           [(ngModel)]="newBook.title">

    <input class="form-control mb-2"
           placeholder="Author"
           [(ngModel)]="newBook.author">

    <textarea class="form-control mb-2"
              placeholder="Description"
              [(ngModel)]="newBook.description">
    </textarea>

    <select
      class="form-select"
      [(ngModel)]="newBook.genre_id"
      required>

      <option value="" disabled>Select genre</option>

      <option *ngFor="let g of genres" [value]="g.id">
        {{ g.name }}
      </option>

    </select>


    <input type="number"
           class="form-control mb-3"
           [(ngModel)]="newBook.total_copies">

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-secondary"
              (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-success"
              (click)="addBook()">
        Create
      </button>
    </div>

  </div>
</div>
