<div class="modal-backdrop">

  <div class="modal-content">

    <h4>Borrow "{{ book.title }}"</h4>

    <div class="mb-3">
      <label>Borrow date</label>
      <input type="date"
             class="form-control"
             [(ngModel)]="borrowDate">
    </div>

    <div class="mb-3">
      <label>Return date</label>
      <input type="date"
             class="form-control"
             [(ngModel)]="returnDate">
    </div>

    <div class="modal-buttons">
      <button class="btn btn-secondary"
              (click)="close.emit()">
        Cancel
      </button>

      <button class="btn btn-primary"
              (click)="confirmBorrow()">
        Confirm
      </button>
    </div>

  </div>

</div>

