<footer class="mylibrary-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6 id="about">About</h6>
        <p class="text-justify">
          <i>MyLibrary WANTS TO BE SIMPLE</i> - MyLibrary is a free platform for borrowing books.
        </p>
      </div>

      <div class="col-md-3">
        <h6></h6>
        <ul class="footer-links">
        </ul>
      </div>

      <div class="col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>
            <a [routerLink]="['']">Home</a>
          </li>
        </ul>
        <ul class="footer-links">
          <li>
            <a [routerLink]="['/about']">About</a>
          </li>
        </ul>
        <!--<ul class="footer-links">
          <li>
            <a>Profile</a>
          </li>
        </ul>-->
        <ul class="footer-links">
          <li>
            <a *ngIf="user" (click)="logout()">Logout</a>
          </li>
        </ul>
        <ul class="footer-links">
          <li>
            <a *ngIf="!user" [routerLink]="['/login']">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <p class="copyright-text">Copyright &copy; {{currentYear}} All Rights Reserved by MyLibrary.</p>
      </div>
    </div>
  </div>
</footer>
